* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
}

.nav__list {
    display: flex;
    text-transform: uppercase;
}

.nav__item {
    margin-right: 40px;
    margin-top: 30px;
}

.logo {
    display: flex;
}

.logo__text {
    margin-top: 10px;
    margin-left: 8px;
}

.logo__title {
    font-size: 30px;
    text-transform: uppercase;
}

.logo__img {
    margin-top: 10px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.nav__item--border {
    border: 2px solid #475F45;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.hero__img {
    border-radius: 500px 500px 0px 0px;
    border: 7px solid #939b92;
    margin-top: -500px;
    width: 478px;
    height: 660px;
}

.title {
    color: #475F45;
}

.hero__img-block {
    display: flex;
    justify-content: flex-end;
}

.hero__info-content {
    margin-top: 246px;
    width: 1000px;
}

.hero__desc {
    font-size: 25px;
    width: 500px;
    color: #475F45;
    text-transform: capitalize;
    margin-bottom: 32px;

}

.hero__btns {
    display: flex;
    
}

.btn--active {
    display: inline-block;
    border: 2px solid #475F45;
    background-color: #475F45;
    color: white;
    width: 150px;
    height: 40px;
    margin-right: 16px;
}

.btn {
    display: inline-block;
    border: 2px solid #475F45;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.about {
    background-color: #343D33;
    color: white;
    margin-top: 50px;
}
.about__container {
    max-width: 1040px;
    height: 100%;
}

.about__top-pic {
    width: 500px;
    height: 300px;
    margin-top: 40px;
}

.about__top {
    display: flex;
}

.about__bottom-img {
    width: 1000px;
    height: 395px;
    margin-top: 30px;
}

.about__desc {
    margin-top: 70px;
    margin-left: 30px;
}

.btn--white {
    color: white;
    border: 2px solid white;
}

.news__imag {
    width: 500px;
    height: 333px;
    margin-top: 20px;
}

.news__img {
    width: 236px;
    height: 151px;
}

.news__item-desc {
    margin-left: 20px;
}

.news__content {
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-top: 50px;
}

.news__subtitle {
    width: 500px;
    margin-bottom: 20px;
}

.news__link {
    margin-left: 100px;
    width: 500px;
}

.news__list {
    margin-top: 20px;
}

.news__item {
    display: flex;
    width: 680px;
}

.news__item-title {
    font-size: 26px;
    color: #475F45;
    margin-bottom: 20px;
}

.news__item-text {
    margin-bottom: 20px;
}

.news__dash {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 13px;
}

   



